@charset "UTF-8";
.main {
  width: 1200px;
  margin: 0 auto;
}

ul:not(.not), #topbar, .util li, #contents>div, section.main>footer, section.main>footer>div, .card01-icons, .sns, footer.main .line {
  display: flex;
  align-items: center;
}

ul:not(.not) {
  list-style: none;
}

#bg {
  margin-top: 120px;
  width: 100%;
  background: url(../img/bg01.png);
  background-size: cover;
  border: 1px solid #000;
}

header.main {
  height: 160px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bg_top {
  background: #0044AF;
  width: 100%;
  height: 40px;
}

#topbar {
  height: 40px;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
}

.tab li {
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #00163B;
  font-weight: bold;
  margin-right: 2px;
}

.tab li.active {
  background: #fff;
  color: #727272;
}

.util li {
  align-items: center;
  padding-right: 15px;
}

.util .bar {
  background: #fff;
  height: 16px;
  width: 16px;
  margin: 1px;
  cursor: pointer;
}

.util .bar>div {
  background: #9B9B9B;
  width: 10px;
  height: 2px;
  margin: 7px 3px;
  position: absolute;
}

.util .bar>div.plus {
  width: 2px;
  height: 10px;
  margin: 3px 7px;
}

.logo {
  position: relative;
  height: 120px;
}

.logo>h1 {
  display: none;
}

.logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.logo .icon01 {
  right: 45px;
}

.logo .icon02 {
  right: 0;
}

.logo .gnb {
  position: absolute;
  left: 460px;
  top: 50%;
  transform: translateY(-50%);
  color: #5A5A5A;
  font-weight: bold;
  font-size: 16px;
}

.logo .gnb li {
  margin-right: 55px;
}

.logo .gnb li:hover {
  color: #0044AF;
}

section.main header {
  height: 260px;
  position: relative;
  color: #fff;
}

section.main nav, section.main .title {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

section.main .title {
  letter-spacing: -.2em;
  line-height: 62px;
}

section.main .title h2 {
  font-size: 62px;
  font-weight: bold;
}

section.main .title h3 {
  font-size: 46px;
}

section.main nav {
  right: 0;
}

section.main nav li {
  margin-left: 15px;
  width: 90px;
  height: 115px;
  margin: 15px;
}

section.main .circle {
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  width: 90px;
  height: 90px;
}

section.main nav img {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

section.main nav li p {
  font-size: 14px;
  text-align: center;
}

#contents article {
  height: 100%;
  position: relative;
}

.col01 {
  height: 450px;
}

.col02, .col03 {
  height: 225px;
}

.col01 article:first-child {
  flex-basis: 900px;
  background: url(../img/bg02.png) center;
}

.col01 article h4, .col01 article div {
  position: absolute;
}

.col01 article:first-child h4 {
  color: #1452B8;
  top: 90px;
  left: 85px;
  line-height: 65px;
  font-size: 62px;
  text-shadow: 0 0 10px #fff;
}

.description {
  width: 170px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}

.col01 article:first-child .description {
  bottom: 85px;
  left: 90px;
  background-color: #192D4E;
}

.col01 article:last-child .description {
  bottom: 75px;
  left: 40px;
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid #fff;
}

.col01 article:last-child {
  flex-basis: 300px;
  background: url(../img/bg03.png) center;
  color: #fff;
}

.col01 article:last-child h4 {
  font-size: 32px;
  top: 80px;
  left: 35px;
}

.col01 article:last-child p {
  position: absolute;
  top: 230px;
  left: 35px;
}

.yellow {
  width: 100%;
  height: 100%;
  background: rgba(106, 63, 0, .7);
  z-index: 1;
}

.col02>article, .col03>article:first-child, .bottomBar01 {
  flex-basis: 25%;
}

.col02>article {
  color: #fff;
  position: relative;
}

.col02>article h4 {
  font-weight: bold;
  font-size: 18px;
}

.card01 {
  background: #00163B;
}

.card01 h4 {
  margin: 20px;
}

.card01-icons {
  width: 100%;
  justify-content: space-around;
  height: 180px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
}

.card01-icons h5 {
  font-size: 14px;
  text-align: center;
}

.card02 {
  background: url(../img/college02.png) no-repeat;
  background-size: 200%;
}

.card02-bg {
  background: rgba(22, 81, 184, .9);
  width: 100%;
  padding: 20px;
}

.card02 h4::after {
  content: "";
  background: #fff;
  width: 100%;
  height: 2px;
  margin-bottom: 3px;
  margin-top: 10px;
  display: block;
}

.card02 ul {
  padding-left: 15px;
  font-size: 14px;
}

.card02 li {
  position: relative;
  margin: 15px 0;
  letter-spacing: -1px;
}

.card02 p {
  position: absolute;
  right: 5px;
  top: 3px;
}

article.card03 {
  background: #fff;
  padding: 20px 20px;
  color: #000;
}

.col02>article>* {
  position: absolute;
}

.card03>img, .card03 p {
  width: 115px;
  height: 85px;
  top: 70px;
  left: 20px;
  font-size: 14px;
  letter-spacing: -.1px;
}

.card03 p {
  left: 150px;
}

.card03 .sns {
  bottom: 25px;
  right: 20px;
}

.card04 {
  background: url(../img/college02.png);
  background-size: cover;
}

.card04 a {
  width: 100%;
  height: 100%;
}

.card04 h4 {
  position: absolute;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 0px;
  bottom: 0;
  text-align: center;
  line-height: 55px;
  transition: .5s
}

.card04:hover .tour {
  height: 55px;
}

.col03>article:last-child, .bottomBar02 {
  flex-basis: 75%;
}

.play {
  background: url(../img/college03.png);
  background-size: cover;
  width: 100%;
  height: 225px;
}

.play .cover {
  background: rgba(28, 26, 70, .7);
  width: 100%;
  height: 100%;
  position: relative;
}

.col03 article:last-child {
  background: #FF5140;
}

.btn {
  background: rgba(0, 0, 0, .5);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  padding: 10px;
}

.btn .tri {
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 20px;
  position: absolute;
  top: 22%;
  left: 42%;
}

.col03>article:last-child {
  background: url(../img/student.png), url(../img/library01.png);
  background-repeat: no-repeat;
  background-position: 100% 0, 0 0;
  color: rgb(252, 80, 63);
  padding: 40px;
}

.col03>article:last-child h4 {
  font-size: 48px;
  font-weight: bold;
}

.col03>article:last-child h5 {
  font-size: 32px;
}

.col03>article:last-child div {
  width: 170px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  background-color: rgba(252, 80, 63, .8);
  border: 1px solid #fff;
  margin-top: 10px;
}

section.main footer {
  background: #fff;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 70px;
}

section.main footer>div {
  justify-content: space-around;
  font-size: 18px;
}

.bottomBar01>div:first-child {
  font-weight: bold;
  margin-left: 20px;
}

.bottomBar01>div>span {
  padding: 0 10px;
}

div.bottomBar02>p {
  font-size: 14px;
  color: #5F5F5F;
}

div.bottomBar02>p:first-child {
  font-weight: bold;
}
div.bottomBar02>p.d {
  padding-right: 50px;
}

.bottomBar02{
  position: relative;
}

.bottombtn {
  width: 40px;
  height: 60px;
  position: absolute;
  right: 0;
  background: #ccc;
}

.bottombtn>div {
  height: 29px;
  width: 100%;
  background: #001739;
  position: absolute;
  right: 0;
}

.bottombtn>div:last-child {
  bottom: 0;
}

.arrow {
  border: solid #fff;
  border-width: 1px 1px 0 0;
  display: inline-block;
  padding: 7px;
  position: absolute;
}
.up .arrow{
  transform: rotate(-45deg);
  left: 13px;top: 12px;
}
.down .arrow{
  transform: rotate(-225deg);
  left: 13px;
  bottom: 12px;
}

footer.main{
  width: 700px;
  font-size: 12px;
  padding: 25px 0;
  color: #9D9D9D;
}

footer.main ul{
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
}

footer.main p{
  padding-right: 30px;
  line-height: 15px;
}

footer.main>div{
  margin: 10px 0;
}
